<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--1. 可以使用无参数沟槽函数实例化的组件，如何进行ioc配置
               <bean - 一个组件信息 - 一个组件对象
                   id 组件的标识  唯一方便后期读取
                   class 组件的类的权限定符
               写两遍， 将一个组件类 - 声明两个组件信息 - 【默认是单例模型】 - 会实例化两个组件对象
        -->
        <bean id="happyComponent1" class="com.atguigu.ioc_01.HappyComponent" />

        <bean id="happyComponent2" class="com.atguigu.ioc_01.HappyComponent" />

        <!--2. 静态工厂类如何声明工厂方法，进行ioc配置
               <bean - 一个组件信息 - 一个组件对象
                   id - 组件的标识  唯一方便后期读取
                   class - 工厂类的全限定符
                   factory-method - 静态工厂方法
        -->
        <bean id="clientService" class="com.atguigu.ioc_01.ClientService" factory-method="createInstance" />

        <!--3. 非静态工厂类如何声明工厂方法，进行ioc配置-->
        <!--3.1 配置工厂类的组件信息 -->
        <bean id="defaultServiceLocator" class="com.atguigu.ioc_01.DefaultServiceLocator" />

        <!--3.2 通过指定非静态工厂对象和方法名 来配置生成的ioc配置-->
        <bean id="clientService2" factory-bean="defaultServiceLocator" factory-method="createClientServiceInstance" />
</beans>